<body>
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="assets/img/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Lets-Cast</h1>
							<small class="site-description">An Ease Way of Forecasting</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a href="news.html">News</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image="assets/img/banner.png">
				<div class="container">
					<form action="#" class="find-location" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)" >
						<input type="text" placeholder="Find your location..." formControlName="location" />
						<input type="submit" value="Find">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Monday</div>
								<div class="date">{{this.weatherData?.location.localtime}}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">{{this.weatherData?.location.name}}</div>
								<div class="degree">
									<div class="num">{{this.weatherData?.current.temperature}}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="assets/img/icons/icon-1.svg" alt="" width=90>
									</div>	
								</div>
								<span><img src="assets/img/icon-umberella.png" alt="">{{this.weatherData?.current.humidity}}</span>
								<span><img src="assets/img/icon-wind.png" alt="">{{this.weatherData?.current.wind_speed}}km/h</span>
								<span><img src="assets/img/icon-compass.png" alt="">{{this.weatherData?.current.wind_dir}}</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="assets/img/icons/icon-3.svg" alt="" width=48>
								</div>
								<div class="degree">23.2<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="assets/img/icons/icon-3.svg" alt="" width=48>
								</div>
								<div class="degree">18.1<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="assets/img/icon-2.svg" alt="" width=48>
								</div>
								<div class="degree">20.4<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="assets/img/icon-1.svg" alt="" width=48>
								</div>
								<div class="degree">25.0<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="assets/img/icon-1.svg" alt="" width=48>
								</div>
								<div class="degree">23.0<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="assets/img/icons/icon-14.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Live Weather</h2>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="assets/img/delhi.png" alt=""></figure>
									<h3 class="location">New Delhi</h3>
									<p><small class="date">{{this.weatherData?.location.localtime}}</small></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="assets/img/pune.png" alt=""></figure>
									<h3 class="location">Pune</h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="assets/img/lucknow.png" alt=""></figure>
									<h3 class="location">Lucknow</h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="assets/img/mumbai.png" alt=""></figure>
									<h3 class="location">Mumbai</h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
						</div>
					</div>
				</div>
</main> <!-- .main-content -->

		</div>		
	</body>